html {
	color: white;
}

body {
	background: url(../img/bg.jpg);
	margin: 0 auto;
	font-family: "HelveticaNeue LT 35 Thin";
	font-size: 20px;
	color: white;
	padding-left: 15px;
	padding-right: 15px;
}

form {
	text-align: center;
	margin-top: 5px;
}

.filename {
	text-align: right;
}

#controlBar1{
	padding: 10px;
	text-align: center;
	height: 80px;
}

#controlBar2{
	padding: 5px;
}

#currentCycle{
	height: 40px;
	font-size: 30px;
}

#currentStatus{
	font-size: 30px;
}

.regContent{
	text-align: center;
	background-color: rgba(255,255,255,0.2);
}

#regTitle{
	height: 60px;
}

.topArea{
	height: 80px;
	text-align: center;
	padding-top: 20px;
}

#frequency{
	width: 50px;
	text-align: right;
}

#text-options {
	padding-top: 20px;
}

input{
	background: rgba(255,255,255,0);
	color: white;
}



#run:hover {
	background-color: rgba(0,0,0,0.2);
}

#run:active{
	background-color: rgba(0,0,0,0.5);
}

#pause:hover {
	background-color: rgba(0,0,0,0.2);
}

#pause:active{
	background-color: rgba(0,0,0,0.5);
}

#reset:hover {
	background-color: rgba(0,0,0,0.2);
}

#reset:active{
	background-color: rgba(0,0,0,0.5);
}

#lastCycle:hover {
	background-color: rgba(0,0,0,0.2);
}

#lastCycle:active{
	background-color: rgba(0,0,0,0.5);
}

#nextCycle:hover {
	background-color: rgba(0,0,0,0.2);
}

#nextCycle:active{
	background-color: rgba(0,0,0,0.5);
}

.col-md-2:hover{
	background-color: rgba(0,0,0,0.2);
}